spring:
  application:
    name: consumer-finance-service

  datasource:
    url: jdbc:mysql://localhost:3306/consumer_finance?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root@123
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    root: INFO
    com.example.consumerfinance: DEBUG
